@import url(reset.css);
.top {
  width: 1200px;
  margin: 20px auto;
  color: #333; }
  .top b {
    margin: 5px;
    color: #808080;
    font-style: normal; }
  .top span {
    color: #808080; }

.information {
  width: 1200px;
  background: #fff;
  overflow: hidden;
  margin: 0 auto 40px; }
  .information .logo {
    float: left; }
    .information .logo p {
      width: 100px;
      height: 120px;
      margin: 0 20px;
      line-height: 120px;
      float: left; }
      .information .logo p img {
        width: 100%; }
    .information .logo dl {
      float: left;
      margin: 25px 0; }
      .information .logo dl dt {
        font-size: 24px;
        margin-bottom: 28px; }
      .information .logo dl dd {
        color: #808080;
        font-size: 16px; }
        .information .logo dl dd a {
          display: inline-block;
          width: 84px;
          height: 25px;
          color: #523669;
          background: url(../images/sup-contect.png) left no-repeat;
          padding-left: 30px;
          line-height: 23px; }
  .information .score {
    float: right;
    margin: 40px 0;
    padding-right: 20px; }
    .information .score li {
      width: 236px;
      height: 25px;
      overflow: hidden; }
      .information .score li b {
        font-style: normal;
        color: #666;
        display: inline-block; }
      .information .score li span {
        width: 103px;
        height: 15px;
        display: inline-block;
        background: url(../images/sprit_biyao.png) -339px -269px;
        vertical-align: middle;
        margin-left: 3px; }
      .information .score li i {
        font-style: normal;
        color: #f49f26;
        margin-left: 30px; }

.list_details {
  width: 1200px;
  margin: 0 auto; }
  .list_details .list_details_list {
    width: 1215px;
    overflow: hidden; }
    .list_details .list_details_list li {
      float: left;
      margin-bottom: 30px;
      position: relative; }
      .list_details .list_details_list li p {
        width: 120px;
        height: 30px;
        background: #f39f25;
        margin-bottom: 10px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        bottom: 50px;
        left: 90px;
        opacity: 0; }
        .list_details .list_details_list li p i {
          display: inline-block;
          width: 20px;
          height: 16px;
          margin-right: 6px;
          background: url(../images/pay_bg.png) no-repeat;
          vertical-align: middle; }
      .list_details .list_details_list li a {
        display: inline-block;
        width: 285px;
        height: 285px;
        margin: 4px 15px 4px 3px; }
        .list_details .list_details_list li a:hover {
          box-shadow: 0px 0 4px 3px #ddd; }
        .list_details .list_details_list li a img {
          width: 100%;
          height: 100%; }
      .list_details .list_details_list li dl {
        height: 50px;
        overflow: hidden; }
        .list_details .list_details_list li dl dt {
          height: 20px;
          line-height: 20px;
          color: #333;
          font-size: 16px;
          text-align: center;
          margin-top: 10px; }
      .list_details .list_details_list li dd {
        font-size: 16px;
        color: #ff3333;
        text-align: center; }

.body_right {
  height: 144px;
  position: fixed;
  bottom: 100px;
  right: -22px;
  width: 48px; }
  .body_right li {
    width: 48px;
    height: 48px;
    cursor: pointer; }
  .body_right .body_right_leaving {
    background: url(../images/rightBar-share.png) no-repeat center; }
    .body_right .body_right_leaving:hover {
      background: url(../images/rightBar-shareActive.png) no-repeat center; }
  .body_right .body_right_code {
    background: url(../images/rightBar-code.png) no-repeat center;
    position: relative; }
    .body_right .body_right_code:hover {
      background: url(../images/rightBar-codeActive.png) no-repeat center; }
    .body_right .body_right_code:hover a {
      display: block; }
    .body_right .body_right_code a {
      display: inline-block;
      position: absolute;
      left: -160px;
      top: -65px;
      display: none; }
      .body_right .body_right_code a span {
        display: inline-block;
        width: 14px;
        height: 25px;
        margin-top: -14px;
        position: absolute;
        top: 50%;
        right: -12px;
        background: url(../images/sprit_biyao.png) no-repeat -59px -214px; }
      .body_right .body_right_code a dl {
        background: #fff;
        padding: 10px;
        border: 1px solid #dddddd;
        box-shadow: 0 0 3px #ccc; }
        .body_right .body_right_code a dl dt {
          width: 130px;
          height: 130px;
          background: url(../images/app.png) no-repeat center; }
        .body_right .body_right_code a dl dd {
          margin-top: 10px;
          text-align: center;
          color: #523669;
          font-size: 14px; }
  .body_right .body_right_top {
    background: url(../images/rightBar-top.png) no-repeat center; }
    .body_right .body_right_top:hover {
      background: url(../images/rightBar-topActive.png) no-repeat center; }

/*# sourceMappingURL=activity.css.map */
